 body, html {
    height: 100%;
    margin: 0%;
}

.headers {
  text-align: center;
  color: #313f43;
  padding: 5%;
  

}

p {
  text-align: center;
  color: #313f43;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.container {
  height: 75%;
}

#Second {
  background-color: #e4e8e9;
}

#Pic-1 {
  background-image: url("/home/bedhead015/Documents/Website/Pics/Hunting.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.Menu-container {
    position: fixed;
    cursor: pointer;
    left: 5%;
    top: 2%;
}

.Symbol {
    color: #313f43;
}

#Footer {
  height: 30%;
  background-color: #221F1D;
}

